<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Data to SQL Database</title>
    <meta name="description" content="Easily import and manage your data in a SQL database. Streamline your workflow with our intuitive interface and enhance your data management capabilities.">
    <meta name="keywords" content="import data, SQL database, data management, upload data, database management, streamline workflow, intuitive interface, data import tools">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <h1>Import Data to SQL Database</h1>
    </nav>
    <section>
        <div class="main-container">
            <h3>
                Select a Excel file or
                <span id="new-consult" class="text-button">New Consult</span>
            </h3>
            <form id="fileForm" action="/api/file/xlsx" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="input-file" accept=".xlsx, .csv" required />
                <button class="btn-submit" type="submit">Submit</button>
            </form>
            <form id="bdForm" class="hidden column-container">
                <h3 class="all-col">Select the corresponding column for each database field.</h3>
                <label for="bd-nombre">Nombre</label>
                <select class="select-column" id="bd-nombre" name="nombre" required></select>
                <label for="bd-apellidos">Apellidos</label>
                <select class="select-column" id="bd-apellidos" name="apellidos" required></select>
                <label for="bd-email">Email</label>
                <select class="select-column" id="bd-email" name="email" required></select>
                <label for="bd-fecha">Fecha</label>
                <select class="select-column" id="bd-fecha" name="fecha" required></select>
                <label for="bd-pasaporte">Pasaporte</label>
                <select class="select-column" id="bd-pasaporte" name="pasaporte" required></select>

                <button type="submit"  class="btn-submit all-col">Insert on Database</button>
            </form>
        </div>
        <div id="response" class="response-container">
            <p>Please upload a file and push to see the imported data.</p>
        </div>
    </section>
    <script src="script.js" defer></script>
</body>
</html>